<h1 class="page-title"><%= title_case @name %></h3>
<div>
  <%= for product <- @products do %>
      <div class="product">
          <div class="product-name"><%= product.name %></div>
          <div><span class="product-price"><%= product.price %></span></div>
      </div>
  <% end %>
</div>
